.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.error-message {
  color: #bf1650;
}

.error-message::before {
  display: inline;
  content: "⚠ ";
}
